@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: normal;
  font-weight: 400;
  src: local('Atkinson Hyperlegible'), local('Atkinson-Hyperlegible'),
       url('../font/Atkinson-Hyperlegible-Regular-102a.woff2') format('woff2');
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: normal;
  font-weight: bold;
  src: local('Atkinson Hyperlegible'), local('Atkinson-Hyperlegible'),
       url('../font/Atkinson-Hyperlegible-Bold-102a.woff2') format('woff2');
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: italic;
  font-weight: 400;
  src: local('Atkinson Hyperlegible'), local('Atkinson-Hyperlegible'),
       url('../font/Atkinson-Hyperlegible-Italic-102a.woff2') format('woff2');
}

@font-face {
  font-family: 'Atkinson Hyperlegible';
  font-style: italic;
  font-weight: bold;
  src: local('Atkinson Hyperlegible'), local('Atkinson-Hyperlegible'),
       url('../font/Atkinson-Hyperlegible-BoldItalic-102a.woff2') format('woff2');
}
